<div class="board">
  <div class="row">

    {{#each pegboard in model}}
        [{{pegboard.id}}/
        {{pegboard.pos}}/
        {{pegboard.color}}]
    {{/each}}
    <ul class="pegrow">
        <li class="peg cf"></li>
        <li class="peg cf"></li>
        <li class="peg cf"></li>
        <li class="peg cf"></li>
    </ul>
    <ul class="keyrow">
        <li class="key cf"></li>
        <li class="key cf"></li>
        <li class="key cf"></li>
        <li class="key cf"></li>
    </ul>
  </div>
</div>

<div class="shield">
  <div class="row">
    <ul class="pegrow">
        <li class="peg cf"></li>
        <li class="peg cf"></li>
        <li class="peg cf"></li>
        <li class="peg cf"></li>
    </ul>
  </div>
</div>

{{outlet}}